[Unit]
Description=nvchecker service
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=%h/Projects/github/nvchecker
ExecStart=/usr/bin/nvchecker-notify -c source.toml

[Install]
WantedBy=graphical.target
